.contact-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.contact-card {
    padding: 1rem;
    border-radius: 12px;
    background: radial-gradient(circle, #fdffdc, #fdffdc, #e6fee0, #e5ffef);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 90%;
    margin: 3rem auto;
    box-sizing: border-box; /* Make sure the padding is included in the width */
    overflow: hidden; /* Prevent content from overflowing */
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Vendor prefix for Safari/older browsers */
}

/* Contact Title */
.contact-title {
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold;
    background: #ef346c;
    background-clip: text !important;
    -webkit-background-clip: text !important; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for non-supporting browsers */
    animation: text-animation 3s ease infinite; /* Apply text animation */
    background-size: 200% 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    text-align: center;
    word-wrap: break-word; /* Ensure long words break for responsiveness */
}

/* Keyframes for Text Animation */
@-webkit-keyframes text-animation {
    0% {
        background: #000000;
    }
    25% {
        background: hsl(0, 97%, 24%);
    }
    50% {
        background: #18018b;
    }
    70% {
        background: #4f012e;
    }
    100% {
        background: #185701;
    }
}

@keyframes text-animation {
    0% {
        background: #000000;
    }
    25% {
        background: hsl(0, 97%, 24%);
    }
    50% {
        background: #18018b;
    }
    70% {
        background: #4f012e;
    }
    100% {
        background: #185701;
    }
}
