/* Experience Container */
.experience-container {
    display: flex;
    justify-content: center;
    margin: 1rem; /* Use rem for responsive margin */
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

/* Flex layout for the content */
.experience-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

/* Experience Card Style */
.experience-card {
    padding: 1rem;
    border-radius: 12px;
    background: radial-gradient(circle, #fdffdc, #fdffdc, #e6fee0, #e5ffef);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 90%;
    margin: 3rem auto;
    box-sizing: border-box;
    overflow: hidden; /* Prevent content overflow */
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Vendor prefix for Safari/older browsers */
}

.heading-color{
    background: linear-gradient(to right, #6641f9, #fa078d, #9d069b, #f33d44); /* Define your gradient */
    background-clip: text !important; /* Standard */
    -webkit-background-clip: text !important; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for non-supporting browsers */
    font-size: 1rem;
    overflow-wrap: break-word; /* Break long words if necessary */
    word-wrap: break-word; /* For older browsers */
}

/* Bitmoji Section */
.experience-bitmoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin: auto;
    margin-top: 80px;
    box-sizing: border-box;
}

/* Bitmoji GIF */
.experience-bitmoji-gif {
    width: 100%;
    height: auto;
    animation: zoom-in-out 5s ease-in-out infinite;
}

/* Content Section */
.content-section {
    flex: 2;
    box-sizing: border-box;
}

/* Optional: Add a small animation to the Bitmoji */
.experience-bitmoji-container:hover {
    -webkit-transform: rotate(-3deg) scale(1.1);
    transform: rotate(-3deg) scale(1.1);
}

/* List Container */
.experience-description-card {
    color: black;
    transition: -webkit-transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.experience-description-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Panel Style */
.panel-card {
    padding: 3rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.panel-header {
    padding: 1rem;
    background: linear-gradient(to right, #ffdefb, #fcffe1, #fcffe1, #ffdefb);
    font-size: 1.1rem;
    color: black;
}

/* Keyframes for Zoom Animation */
@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Experience Title */
.experience-title {
    font-size: 2rem;
    font-weight: bold;
    background: #ef346c;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent;
    animation: text-animation 3s ease infinite;
    background-size: 200% 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

/* Keyframes for Text Animation */
@-webkit-keyframes text-animation {
    0% {
        background: #000000;
    }
    25% {
        background: hsl(0, 97%, 24%);
    }
    50% {
        background: #18018b;
    }
    70% {
        background: #4f012e;
    }
    100% {
        background: #185701;
    }
}

@keyframes text-animation {
    0% {
        background: #000000;
    }
    25% {
        background: hsl(0, 97%, 24%);
    }
    50% {
        background: #18018b;
    }
    70% {
        background: #4f012e;
    }
    100% {
        background: #185701;
    }
}

/* Keyframes for Zoom-In-Out Animation */
@-webkit-keyframes zoom-in-out {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Style for the custom list */
.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding-left: 20px;
}

.custom-list li::before {
    content: '✔';
    left: 0;
}
