.experience {
    background-color: #fff1e6;
    padding: 40px;
    border-radius: 10px;
}

h2 {
    color: #6d6875;
    font-size: 2rem;
}

.job h3 {
    color: #9a8c98;
    font-size: 1.8rem;
}

.job p {
    font-size: 1.1rem;
    color: #555;
}

