/* Overview Container */
.overview-container {
    display: flex;
    flex-direction: column;
    margin: 1rem; /* Use rem for responsive margin */
}

/* Overview Card Style */
.overview-card {
    padding: 1rem;
    border-radius: 12px;
    background: linear-gradient(to right, #fbfed1, #ffffff, #dbffcb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 2rem auto; /* Center the card with margins */
    max-width: 90%; /* Limit the card width */
    animation: card-fade-in-bottom 1s ease forwards; /* Fade-In from bottom for cards */
}

/* Title Style */
.overview-title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem; /* Slightly larger font size for better readability */
    color: black;
}

.overview-title-role {
    background: linear-gradient(to right, #ef346c, #ff1bfb, #4a26ff);
    background-clip: text; /* Standard */
    -webkit-background-clip: text; /* For Safari */
    -moz-background-clip: text; /* For Firefox */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for non-supporting browsers */
    padding: 0.5rem; /* Use rem for padding */
    min-width: 300px; /* Minimum width */
    text-align: center;
}

/* Bitmoji Section */
.bitmoji-container {
    max-width: 300px; /* Fixed width for Bitmoji */
    transition: transform 0.5s ease; /* Smooth transition for animation */
    margin-top: -20px; /* Adjust to lift Bitmoji slightly */
}

/* Bitmoji GIF */
.bitmoji-gif {
    width: 100%; /* Make Bitmoji responsive */
    height: auto; /* Maintain aspect ratio */
}

/* Content Section */
.content-section {
    flex: 2; /* 2/3 of the space */
}

/* Card Hover Effect */
.overview-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* List Container */
.description-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to right, #d2ffff, #d8ffe3, #fcffe1, #d2ffff);
    color: black;
}

.description-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Bitmoji Popup Styling */
.bitmoji-popup {
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transform: translateY(50px); /* Start with a slight offset */
    transition: all 0.5s ease-in-out; /* Smooth transition */
    z-index: 1000;
    height:600px
}

.bitmoji-popup.visible {
    opacity: 1;
    transform: translateY(0); /* Move Bitmoji into place */
}


/* Keyframes for Card Fade-In from Bottom */
@keyframes card-fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for Title Slide-In */
@keyframes title-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
