/* Skills Container */
.skills-container {
    display: flex;
    justify-content: center;
    margin: 1rem; /* Use rem for responsive margin */
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    width: 100%;
    box-sizing: border-box; /* Ensure proper sizing in all browsers */
}

/* Flex layout for the content */
.skills-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Ensure proper sizing */
}

/* Skills Card Style */
.skills-card {
    padding: 1rem;
    border-radius: 12px; /* Rounded corners */
    background: linear-gradient(to right, #fdeaf0, #fafffb, #c7e7ff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 90%;
    margin: 3rem auto;
    overflow: hidden; /* Prevent overflow */
    box-sizing: border-box; /* Ensures padding is included */
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* For Safari/older browsers */
}

/* Bitmoji Section */
.skills-bitmoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    transition: -webkit-transform 0.5s ease; /* Vendor Prefix */
    transition: transform 0.5s ease;
    margin-top: -20px;
    box-sizing: border-box;
}

/* Bitmoji GIF */
.skills-bitmoji-gif {
    width: 100%;
    height: auto;
    animation: move-left-right 2.5s infinite;
}

/* Hover Effect for Bitmoji */
.skills-bitmoji-container:hover {
    -webkit-transform: rotate(5deg) scale(1.1); /* Safari */
    transform: rotate(5deg) scale(1.1);
}


/* Content Section */
.content-section {
    flex: 2;
    box-sizing: border-box;
}

/* List Container */
.skills-description-card {
    background: linear-gradient(to right, #b6f7f7, #fcffe1, #fcffe1, #b6f7f7);
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: -webkit-transform 0.3s ease, box-shadow 0.3s ease; /* Vendor Prefix */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.1rem;
    min-height: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.description-section .col-6 {
    flex: 1 1 45%;
    max-width: 45%;
    margin: 10px;
}

.skills-description-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Keyframes for Zoom Animation */
@-webkit-keyframes zoom {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Skills Title */
.skills-title {
    font-size: 2rem;
    font-weight: bold;
    background: #ef346c;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent;
    animation: text-animation 3s ease infinite;
    background-size: 200% 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.skills-heading-color{
    background: linear-gradient(to right, #522dea, #ee0284, #c203bf, #1710e4); /* Define your gradient */
    background-clip: text !important; /* Standard */
    -webkit-background-clip: text !important; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for non-supporting browsers */
    font-size: 1.2rem;
    overflow-wrap: break-word; /* Break long words if necessary */
    word-wrap: break-word; /* For older browsers */
}

/* Default layout for larger screens */
.offset-class {
    margin-left: 33.33%; /* 4-column offset */
}

/* When the screen width is 768px or less, remove the offset */
@media screen and (max-width: 768px) {
    .offset-class {
        margin-left: 0; /* Remove the offset */
    }
}


/* Keyframes for Text Animation */
@-webkit-keyframes text-animation {
    0% { background: #000000; }
    25% { background: hsl(0, 97%, 24%); }
    50% { background: #18018b; }
    70% { background: #4f012e; }
    100% { background: #185701; }
}

@keyframes text-animation {
    0% { background: #000000; }
    25% { background: hsl(0, 97%, 24%); }
    50% { background: #18018b; }
    70% { background: #4f012e; }
    100% { background: #185701; }
}

/* Keyframe animation for move-left-right effect */
@-webkit-keyframes move-left-right {
    0% { -webkit-transform: translateX(15px); }
    50% { -webkit-transform: translateX(-15px); }
    100% { -webkit-transform: translateX(15px); }
}

@keyframes move-left-right {
    0% { transform: translateX(15px); }
    50% { transform: translateX(-15px); }
    100% { transform: translateX(15px); }
}
